body {
  font-family: 'Raleway';
}

.nav-left {
  font-size: 1.25rem;
  float: left;
  padding-left: 35px;
}

.nav-right {
  float: right;
}

h1 {
  font-size: 6rem;
  font-weight: 300;
}

h2 {
  font-size: 3.5rem;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.bg-header {
  background-image: url(../assets/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 70%;
}